# Configuration de l'API Zupone

# URL du serveur backend
# Pour développement local : http://localhost:3001
# Pour développement sur réseau local : http://192.168.0.80:3001 (remplacer par l'IP de votre machine)
# Pour production : https://api.zupone.com
EXPO_PUBLIC_API_URL=http://localhost:3001
